---
import Navigation from "./Navigation.astro";
---

<header>
  <Navigation />
  <div id="sakana-widget"></div>
  <script>
  import 'sakana-widget/lib/index.css';
  import SakanaWidget from 'sakana-widget';
  new SakanaWidget().mount('#sakana-widget');
  </script>
</header>