---
import Navigation from "./Navigation.astro";
---

<header>
  <Navigation />
  <div id="sakana-widget"></div>
  <script>
  import 'sakana-widget/lib/index.css';
  import SakanaWidget from 'sakana-widget';
  new SakanaWidget().mount('#sakana-widget');
  </script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-RGVQ35H3MC"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-RGVQ35H3MC');
  </script>
</header>