---
import Navigation from "./Navigation.astro";
---

<header>
  <Navigation />
  <div id="sakana-widget" style=" position: fixed;
  bottom: 0;
  right: 0;
  scale: 75%;
  display:none;"></div>
  <script>
  import 'sakana-widget/lib/index.css';
  import SakanaWidget from 'sakana-widget';
  new SakanaWidget().mount('#sakana-widget');
  </script>
</header>